@font-face {
    font-family: 'supernovaStyleFont';
    src: url('/image/Optical\ A\ Bold.ttf')  format('truetype'),
  }
  
.supernova-font {
    font-family: 'supernovaStyleFont', Verdana, sans-serif;
}

body {
    background-color: #F8F9FA;
}

.text-red {
    color: #FF1800;
}

.text-red-dark {
    color: #BC0C00;
}

.text-back {
    color: #000000;
}

.text-white {
    color: #f0f0f0;
}

.table-of-content {
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.table-of-content-elem {
    padding: 0;
    padding-bottom: 3px;
}

.table-of-content-item {
    color: #FF1800;
    text-decoration: none;
}

.table-of-content-item-disabled {
    color: #c7c7c7;
    text-decoration: none;
    pointer-events: none;
}

.table-of-content-item:hover {
    color: #BC0C00;
}

.no-style-list {
    list-style: none;
}

.square-style-list {
    list-style: square;
}

/* Changing img holder position, so the overlay will be related to it */

.card-image {
    position: relative;
}
.card-body-scrollable{
    scroll-behavior: smooth;   
}

.carousel-bg-dark:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.7);
}
  

.image-overlay {
    pointer-events: visible;
    visibility: collapse;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    background: rgba(0, 0, 0, 0.8);
}
  
.overlay-zone:hover .image-overlay, .overlay-zone:active .image-overlay, .overlay-zone:focus .image-overlay {
    visibility: visible;
    opacity: 1;
}

.flag-icon-background, .flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333em;
  line-height: 1em;
}
.flag-icon:before {
    content: " ";
}
.flag-icon.flag-icon-squared {
    width: 1em;
}

.flag-icon-fra {
    background-image: url(./lib/flag-icons-master/flags/4x3/fra.svg);
}
.flag-icon-fra.flag-icon-squared {
    background-image: url(./lib/flag-icons-master/flags/1x1/fra.svg);
}

.flag-icon-gbr {
    background-image: url(./lib/flag-icons-master/flags/4x3/gbr.svg);
}
.flag-icon-gbr.flag-icon-squared {
    background-image: url(./lib/flag-icons-master/flags/1x1/gbr.svg);
}


.flag-icon-ita {
    background-image: url(./lib/flag-icons-master/flags/4x3/ita.svg);
}
.flag-icon-ita.flag-icon-squared {
    background-image: url(./lib/flag-icons-master/flags/1x1/ita.svg);
}
  

